
@{
    ViewBag.Title = "TechnicalEnglish";
}

<h2>Technical English</h2>

<div class="container">
    <div>
        <label>What is a normalized schema?  </label>
        <br />
        <p>
            Is the process of organizing data so we don’t have redundancy (duplicated data). This method involve using different tables and links them with keys. 
        </p>

    </div>
    <div>
        <label>What is the importance of ‘Single Responsibility’ in the SOLID principles?   </label>
        <br />
        <p>
            What I know or what I understand of SOLID principles is for example one class need to be defined to be used in only one job and use many classes to organize your work, and this apply to all the code not only classes is doing just one thing or thing that are related.
        </p>

    </div>
    <div>
        <label>How do you paginate a query against a large set of data?    </label>
        <br />
        <p>
            Using the offset in sqlserver, to be honest I have not used this option but what I read about is that you can scan you table in like batches or sets of data, what I see that is important is that the orden by use the primary key or cluster index key, so the scan is faster. I learn something new :)
        </p>

    </div>
    <div>
        <label>What are some ways that you can version an API?    </label>
        <br />
        <p>
            Versioning using URI path is the process of using the version number throw the URL and can be easy to configure different routing points. Another is using the query parameters 
        </p>

    </div>
    <div>
        <label>What is the difference between optimistic and pessimistic concurrency?   </label>
        <br />
        <p>
            Pessimistic concurrency is when you is locked and no other process can used, for example if you are changing some data and this change use pessimistic concurrency other need to wait so they can use it. And Optimistic locking assumes that multiple transactions can complete without affecting each other.
        </p>

    </div>

 
</div>
